@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black !important;
  

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
html, body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (max-width: 800px) {
  .hide-bg {
    background-image: none !important;
  }

}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}